@font-face {
	font-display: swap;
	font-family: 'Figtree';
	font-style: normal;
	font-weight: 300 900;
	src: url('/fonts/Figtree[wght].woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Figtree';
	font-style: italic;
	font-weight: 300 900;
	src: url('/fonts/Figtree-Italic[wght].woff2') format('woff2');
}
